body {
    background-color: FFFFFF;
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
}

/* ========== Sidebar ========== */
.sidebar {
    width: 20vw;
    height: 95vh;
    background-color: #f9f9f9;
    padding: 20px;
    margin-left: 20px;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    align-items: center;    
    flex-direction: column;
}

.logo {
    margin-top:10%;
    height: 8%;
    margin-bottom: 10%;
}

.icon {
    margin-right: 18px;
    margin-left: 10px;
    color: #999999;
}

.sidebar-item {
    margin: 2px 0;
    padding: 2px;
    padding-left: 20px;
    width: 90%;
    height: 6%;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #999999;
}

.sidebar-item:hover {
    background-color: #ededed;
    color: #454545; 
}

.sidebar-item:hover .icon {
    color: #454545; 
}

.sidebar-item.active span {
    color: #101010; /* ข้อความดำ */
}

.sidebar-item.active .icon {
    color: #A31E19; /* ไอคอนแดง */
}
/* ============================= */


/* ========== History ========== */
.history-title {
    align-self: flex-start;
    margin-left: 10px;
    margin-top: 20px;
    color: #515151;
}

.history-section{
    width: 100%;
    flex: 1;
    overflow-y: auto;
}

.history-item {
    margin: 0.1vh 0;
    padding: 12px 15%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    color: #999999;
}

#history-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 10%;
    border-radius: 10px;
    cursor: pointer;
    color: #999999;
}

.history-item:hover {
    background: #f0f0f0;
}

.history-item.active {
    background-color: #ededed;
    color: #101010;
}
/* ============================= */


/* ========== ฝั่งขวา ========== */

.content {
    width: 76vw;
    height: 95vh;
    /* padding: 20px; */
    margin-right: 20px;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    box-sizing: border-box;
    border-radius: 20px;
    /* background-color: #c31010; */
}

.topbar {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 20px;
}

.topbar svg {
    margin-left: auto;
    cursor: pointer;
    margin-right: 30px;
    color: #999999;

}

.topbar svg:hover {
    color: #454545;
}

.main-content {
    height: 84vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f9f9f9;
    border-radius: 20px;
}
/* ============================= */



